<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madroid.studydemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MasterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RippleBackgroundActivity"
            android:label="@string/title_activity_ripple_background" >
        </activity>
        <activity
            android:name=".ui.rippleActivity"
            android:label="@string/title_activity_ripple" >
        </activity>
        <activity
            android:name=".ui.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view" >
        </activity>
        <activity
            android:name=".ui.StikkyHeaderActivity"
            android:label="@string/title_activity_stikky_header" >
        </activity>
        <activity
            android:name=".ui.ScrollViewActivity"
            android:label="@string/title_activity_scroll_view" >
        </activity>
        <activity
            android:name=".ui.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" >
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".mvp.view.WeatherActivity"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".volleyGson.VolleyGsonActivity"
            android:label="@string/title_activity_volley_gson"
            android:theme="@style/ToolBarTheme" >
        </activity>
        <activity
            android:name=".MPAndroidChart.ChartActivity"
            android:label="@string/title_activity_chart"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MPAndroidChart.LineChartActivity"
            android:label="@string/title_activity_chart"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MPAndroidChart.ChartBaseActivity"
            android:label="@string/title_activity_chart_base" >
        </activity>
        <activity
            android:name=".MPAndroidChart.EcgChartActivity"
            android:label="@string/title_activity_ecg_chart"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MPAndroidChart.EcgCustomActivity"
            android:label="@string/title_activity_ecg_custom"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".materialDesign.MaterialActivity"
            android:label="@string/title_activity_material"
            android:theme="@style/MyMaterial" >
        </activity>
        <activity
            android:name=".ebook.PhotoViewActivity"
            android:label="@string/title_activity_photo_view" >
        </activity>
        <activity
            android:name=".materialDesign.NormalActivity"
            android:label="@string/title_activity_normal"
            android:theme="@style/MyMaterial" >
        </activity>
        <activity
            android:name=".materialDesign.ProActivity"
            android:label="@string/title_activity_normal"
            android:theme="@style/MyMaterial.WithoutActionBar" >
        </activity>
        <activity
            android:name=".jni.JniActivity"
            android:label="@string/title_activity_jni" >
        </activity>
        <activity
            android:name=".okhttp.OkHttpActivity"
            android:label="@string/title_activity_ok_http"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>
